
<div class="container"> 
    <div class="d-flex justify-content-center">
        <form class="d-flex p-3">
          <input class="form-control mr-sm-2 mx-auto" type="search" [(ngModel)]="search" placeholder="Search" aria-label="Search" name="search">
          <button class="btn btn-outline-success mr-sm-2 mx-auto" type="submit" (click)="Search()">Search</button>
          <button class="btn btn-outline-primary mr-sm-2 mx-auto" type="submit" (click)="Clear()">Clear</button>
        </form> 
      </div>  
<!--  
<table class="table table-bordered">
    <thead class="thead-dark">
       <tr>
         <th>ID</th>
         <th>Name</th>
         <th>Specialite</th>
         <th>Description</th>
       </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of specialisations">
             <td> {{item.id}}</td>
             <td>{{item.name}}</td>
             <td>{{item.specialite}}</td>
             <td>{{item.description}}</td>  
        </tr>
    </tbody>
</table>    
</div>
-->

<div class="container">
<div class="row text-center d-flex">
    <div class="card mb-4 rounded-3 shadow-sm gap-3 border border-success" *ngFor="let item of specialisations">
      <div class="card-header border border-primary py-3">
       <h5 hidden="hidden">{{item.id}}</h5> 
        <h4 class="my-0 fw-normal">{{item.specialite}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{item.name}}<small class="text-muted fw-light"></small></h1>
        <ul class="list-unstyled mt-3 mb-4">        
          <li>{{item.description}}</li>       
        </ul>
        <button type="button" class="btn btn-primary">Details</button>
      </div>
    </div>
</div>
</div>   



