<div class="d-flex flex-colum align-items-center justify-content-center justify-content-md-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
     
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-5">
        <li class="nav-item"><a href="#" class="nav-link px-2 link-secondary">Accueil</a></li>
        <li class="nav-item dropdown"><a href="#" class="nav-link px-2 link-dark" 
         routerLink="/hopitals">Hopitaux</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 link-dark" routerLink="/specialisations">Specialisations</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 link-dark" routerLink="/reservations">Reservations</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 link-dark" routerLink="/accidents">Accidents</a></li>
      </ul> 
   <div class="d-flex align-items-center">    
      <a class="btn btn-outline-secondary mr-2" href="#">Login</a> 
      <a class="btn btn-outline-secondary mr-3" href="#">Sign up</a> 
   </div>
</div>
<router-outlet></router-outlet>