<div class="container">
  <div class="d-flex">
      <form class="d-flex p-3">
        <input class="form-control mr-sm-2 mx-auto" type="search" placeholder="Search" aria-label="Search" name="motCle">
        <button class="btn btn-outline-success mr-sm-2 mx-auto" type="submit"  >Search</button>
        <button class="btn btn-outline-primary mr-sm-2 mx-auto" type="submit" >Clear</button>
      </form> 
    </div> 
</div>
<div class="container">
  <table class="table table-bordered">
      <thead class="thead-light">
         <tr>
           <th>Reference</th>
         <th>Date</th> 
           <th>Lieux</th>
           <th>Nbr d'accidenté</th>
           <th>Besoins Hospitalier</th>
           <th>Gravite</th>
           <th>Intervenant</th>
           <th>Reservation Liée(s)</th>
           <th></th>
         </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of accidents">
               <td>{{item.accidentId}}</td>
              <td>{{item.date| date}}</td>  
               <td>{{item.lieux |uppercase}}</td>
               <td>{{item.nbrPersonne}}</td>
               <td>{{item.besoinHospitalier}}</td>
              <td>
                <button type="button" class="btn btn-danger">{{item.gravite | uppercase}}</button>
              </td>                
               <td>{{item.intervenant}}</td>
               <td></td>
               <td><a href="#">Traiter</a></td>
          </tr>
      </tbody>
  </table>   
</div>
     
    
    
