<div class="container">
<form [formGroup]="hopitalForm" (ngSubmit)="onSubmitHopital()">
  <div class="form-group col-md-6">
    <label >Name</label>
    <input type="text" class="form-control" formControlName="name" id="hopitalName">   
  </div>
  
  <div class="container d-flex col-md-12 justify-content-around">
    <div class="form-group">
      <label for="ville">Ville</label>
      <input type="text" class="form-control" id="ville" formControlName="ville">
    </div>
    <div class="form-group">
      <label for="localite">Localite(region,departement)</label>
      <input type="text" class="form-control" id="localite" formControlName="localite">
    </div>  
  </div>
   
  <div class="container d-flex col-md-12 justify-content-around">
    <div class="form-group col-md-3">
      <label for="litTotal">litTotal</label>
      <input type="number" class="form-control" id="litTotal" formControlName="litTotal" min=0>
    </div>
  <div class="form-group col-md-3" >
    <label for="litDispo">Lit(s) disponible</label>
    <input type="number" class="form-control" id="litDispo" formControlName="litDispo" min=0>
  </div>
  <div class="form-group col-md-3">    
    <label for="litReanimation">Reanimation</label>
    <input type="number" class="form-control" id="litReanimation" formControlName="litReanimation" min=0>
</div>
  </div>
 
    <div class="form-group"> 
  <select class="form-control mr-sm-2 mx-auto" formControlName="specialisations" multiple>
    <option *ngFor="let spe of specialisations" [value]="spe.id" >{{spe.name}} </option>
  </select>
</div>   
 
   <div class="justify-content-center">
    <button type="submit" class="btn btn-primary">Submit</button>
    <div *ngIf="msgValidHopital">Hopital enregistré</div>
   </div>
   
  </form>
</div>
