<div class="container">
    <div class="d-flex">
        <form class="d-flex p-3">
          <input class="form-control mr-sm-2 mx-auto" type="search" [(ngModel)]="motCle"  placeholder="Search" aria-label="Search" name="motCle">
          <button class="btn btn-outline-success mr-sm-2 mx-auto" type="submit" (click)="SearchByMotCle()" >Search</button>
          <button class="btn btn-outline-primary mr-sm-2 mx-auto" type="submit" (click)="Clear()">Clear</button>
        </form> 
      </div> 
</div>
<div class="container">
    <table class="table table-bordered">
        <thead class="thead-light">
           <tr>
             <th>Reference</th>
             <th>Date</th>
             <th>Faite par</th>
             <th>Hopital.Id</th>
             <th>Lit Reservé(s)</th>
             <th>Status</th>
             <th>Details</th>
             <th></th>
             <th></th>
           </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of reservations">
                 <td>{{item.id}}</td>
                 <td>{{item.date| date}}</td>
                 <td>{{item.emetteurName |uppercase}}</td>
                 <td>{{item.hopitalId}}</td>
                 <td>{{item.nbrLitReservation}}</td>
                 <td>{{item.status}}</td>
                 <td>{{item.details}}</td>
                <!-- <td>{{item.hopital|json}}</td>  --> 
                 <td><a href="#">Modifier</a></td>
            </tr>
        </tbody>
    </table>   
</div>