
<div class=" container ">

  <div class="row justify-content-center">
    <div class="col">
      <h1 class="my-0 fw-normal">{{hopital.name}}</h1>
    </div>
    
  </div>
  <div class="row">
     <div class="col d-flex justify-content-between">
      <button class="btn btn-success" type="submit" >Modification</button>  
    <h1> Ref.Hopital: {{hopital.id}}</h1>    
     </div>

     <div class="col d-flex justify-content-between">
      <button class="btn btn-primary" *ngIf="hopital.litDispo > 0"
       type="button" (click)="onCreateReservation()">Reserver</button>

      <h3>{{hopital.status}}</h3>
    </div>
  </div>

  <div class="row d-flex">
    <div class="col-sm-8">
      <h1 class="card-title pricing-card-title">{{hopital.litDispo}}<small class="text-muted fw-light"> lit(s) disponible(s)</small></h1>
      <ul class="list-unstyled mt-3 mb-4">        
        <li>Ville: {{hopital.ville}}</li>
        <li>Departement : {{hopital.localite}}</li>
        <li>Lit de Réanimation: {{hopital.litReanimation}}</li>
        <li>Total lit: {{hopital.litTotal}}</li>  
     <!--  <li>Specialisation : {{hopital.specialisations | json}}</li>  -->    
      </ul> 
    </div>
    <div class="col-sm-4">
     <h2><li *ngFor="let item of hopital.specialisations">{{item.name}}</li></h2>  
    </div>
  </div>
</div>
<div class="container" >
  <table class="table table-bordered">
      <thead class="thead-light">
         <tr>
           <th>Reference</th>
           <th>Date</th>
           <th>Faite par</th>
           <th>Hopital</th>
           <th>Lit Reservé(s)</th>
           <th>Status</th>
           <th>Details</th>
           <th></th>
           <th></th>
         </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of hopitalRerservation">
               <td>{{item.id}}</td>
               <td>{{item.date | date}}</td>
               <td>{{item.emetteurName}}</td>
               <td>{{hopital.name}}</td>
               <td>{{item.nbrLitReservation}}</td>
               <td>{{item.status}}</td>
               <td>{{item.details}}</td>
              
              <!-- <td>{{item.hopital|json}}</td>  --> 
               <td><a href="#">Modifier</a></td>
          </tr>
      </tbody>
  </table>
</div>
<div class="container" *ngIf="reservationFenetre">
  <form  [formGroup]="reservationForm" (ngSubmit)="onSubmitReservation(reservationForm)">
<div class="row">
        <div class="col"> 
            <div class="form-group">
               <label for="date" >Date</label>
               <input type="text" placeholder="yyyy-mm-dd" class="form-control" formControlName="date"/>
            </div>
            <div class="form-group">
              <label for="emetteurName" >Emetteur</label>             
              <select class="form-control col-sm-6 mx-auto" formControlName="emetteurName">
                <option value="Jon Bones Jones" >Jon Bones Jones</option>
                <option value="Wilder" selected >Wilder Deontay</option>
                <option value="MESSOLO Jules" >MESSOLO Jules</option>
                <option value="Kamara USMAN" >Kamaru USMAN</option>  
                <option value="Nathalie RUBEN" >Nathalie RUBEN</option>         
           </select>
           </div>
        </div>
        <div class="col"> 
          <div class="form-group">
             <label formControlName="hopitalDestination" class="form-control col-sm-6">{{hopital.name}}</label>
           <!--   <input type="text"  class="form-control" 
             formControlName="hopitalDestination" value=hopital.name texte="hopital.name"/> -->
          </div>
          <div class="form-group">
            <label for="hopitalId" ></label>
            <input type="number"  class="form-control col-sm-4" formControlName="hopitalId" hidden/>
         </div>
      </div>
</div>
<div class="row">
  <div class="col"> 
      <div class="form-group">
         <label for="nbrLitReservation" >Lit à reserver</label>
         <input type="number"  class="form-control col-sm-4" min=0 formControlName="nbrLitReservation"/>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="status" >status</label>
        <select class="form-control col-sm-5 mx-auto" formControlName="status">
          <option value="Urgent" >Urgent</option>
          <option value="En cours" selected >En cours</option>
          <option value="Valide" >Validé</option>       
     </select>
     </div>
    </div>    
  <div class="col"> 
    <div class="form-group">
       <label for="Details" >Details</label>
       <input type="text"  class="form-control" formControlName="details"/>
    </div>   
</div>
</div>
<div class="row">
 <div class="col">
  <button type="submit" class="btn btn-primary">VALIDER</button>
 </div>
 <div class="col">
    <button type="submit" class="btn btn-danger" (click)="onCloseReservation()">ANNULER</button>
</div>
</div>
</form>
</div>
