<div class="container">
    <form [formGroup]="reservationForm" (ngSubmit)="onSubmitReservation()">
    <div class="form-group ">
      <label >Date</label>
      <input type="text"  placeholder="yyyy-mm-dd" formControlName="date" class="form-control mr-sm-2 mx-auto"/>
    </div>
    <div class="form-group ">
        <label >Emetteur </label>
        <input type="text"  class="form-control mr-sm-2 mx-auto" formControlName="emetteurName"/>
    </div>
    <div class="form-group ">
        <label >Hopital :</label>      
        <input type="text"  class="form-control mr-sm-2 mx-auto" formControlName="hopitalDestination"/>
    </div>
    <div class="form-group ">
        <label >Nbr de lit </label>
        <input type="number" class="form-control mr-sm-2 mx-auto" formControlName="nbrLitReservation" />      
    </div>
    <div class="form-group">
        <label >Statut :</label>
        <input type="text" class="form-control" formControlName="status"/>      
    </div>
    <div class="form-group ">
        <label >Details :</label>
        <input type="text" class="form-control mr-sm-2 mx-auto" formControlName="details"/>      
    </div>
    <div class="d-flex form-group justify-content-around">
        <mat-dialog-actions  *ngIf="msgValidReservation">
            <button mat-dialog-close class="btn btn-success" >Close</button>  
        </mat-dialog-actions>
      <button class="btn btn-primary">Valider</button> 
            
    </div>
    <div *ngIf="msgValidReservation">

    </div>
</form>
<div>
  
